.social {
	@extend %rlist;
	margin: 0 -6px;
	&__item {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		padding: 0 6px;
	}
	&__link {
		@extend %centering;
		font-size: 0;
		line-height: 0;
		letter-spacing: -5px;
		height: 27px;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			opacity: .7;
		}
	}
	&__icon {
		display: inline-block;
		vertical-align: middle;
		&--blue {
			fill: #2b3fa5;
		}
		&--lightblue {
			fill: #0997ba;
		}
		&--red {
			fill: #ba2a09;
		}
	}
}