//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	height: 100%;
	min-width: 320px;
}

html.is-locked,
html.is-locked body {
	overflow: hidden;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	overflow-x: hidden;
}

.content {
	overflow: hidden;
}

.container {
	@include clearfix;
	padding: 0 10px;
	max-width: 100%;
	width: 1200px;
	margin: 0 auto; 
	&__holder {
		@include clearfix;
	}
	&__main {
		float: left;
		width: calc(100% - 300px);
		position: relative;
		padding: 48px 80px 56px 0;
		@include b(tablet) {
		  width: 100%;
		  padding: 0 0 30px;
		}
		&:after {
			content: "";
			height: 100%;
			width: 4000px;
			background-color: $white;

			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}
	}
	&__sidebar {
		float: left;
		width: 300px;
		padding: 48px 0 33px 30px;
		position: relative;
		padding-bottom: 1000px;
		margin-bottom: -1000px;
		@include b(tablet) {
		  width: 100%;
		  padding: 0;
		  margin: 0 0 30px;
		}
		&:after {
			content: "";
			height: 100%;
			width: 2000px;
			background-color: #f2f2f2;

			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 700;
		padding-bottom: 34px;
		text-transform: uppercase;
	}
	&__block {
		padding-bottom: 37px;
		&:last-child {
			padding-bottom: 0;
		}
		p:last-child {
			padding-bottom: 0;
		}
	}
}

