//----------------------------------------------------//
// TYPOGRAPHY                                         //
//----------------------------------------------------//
body {
	background: #fff;
  color: $mainFontColor;
  font-family: $mainFont, $fixFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainFontHeight;
}
h1, h2, h3, h4, h5, h6 {
	color: #2f2f2f;
	font-family: $mainFont, $fixFont;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 50px;
	padding-bottom: 30px;
}
h2 {
	font-size: 32px;
	padding-bottom: 20px;
}
h3 {
	font-size: 34px;
	padding-bottom: 20px;
}
h4 {
	font-size: 18px;
	padding-bottom: 20px;
}
h5 {
	font-size: 16px;
	padding-bottom: 20px;
}
h6 {
	font-size: 15px;
	padding-bottom: 20px;
}

p {
	padding: 0 0 20px;  
	line-height: 1.85;
	margin: 0;
}

hr {
	overflow: hidden;
	height: 1px;
	background: #e9e9e9;
	border: 0;
	margin: 32px 0;
}

q,
blockquote {
	text-align: center;
	display: block;
	font-style: italic;
}

strong,
b {
	font-weight: 700;
}

a {	
	color: $blue;
	transition: all .3s ease-in-out;
	text-decoration: none;
	&.button {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
a:hover {
	text-decoration: none; 
}
a:active {}
a:visited {}

[class*="icon-"] {
	display: inline-block;
	vertical-align: top;
}

.content {
	a {
		&:hover {
		}
	}
}

img[style*="float: left"],
img[style*="float:left"],
img[align="left"] {
	margin: 0 20px 5px 0;
}

img[style*="float: right"],
img[style*="float:right"],
img[align="right"] {
	margin: 0 0 5px 20px;
}

%ul {
	li {
		position: relative;
		padding-left: 10px;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 10px;
			width: 4px;
			height: 4px;
			background: pink;
			border-radius: 50%;
		}
	}
}




.static-content {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
	h1 {
		font-size: 50px;
		padding-bottom: 30px;
	}
	h2 {
		font-size: 32px;
		padding-bottom: 20px;
	}
	h3 {
		font-size: 34px;
		padding-bottom: 20px;
	}
	h4 {
		font-size: 18px;
		padding-bottom: 20px;
	}
	h5 {
		font-size: 16px;
		padding-bottom: 20px;
	}
	h6 {
		font-size: 15px;
		padding-bottom: 20px;
	}
	p {
		font-size: 15px;
		font-weight: 300;
		padding-bottom: 14px;
		line-height: 1.5;
	}
	ul {
		padding-bottom: 18px;
		li {
			padding-bottom: 17px;
			padding-left: 20px;
			position: relative;
			font-size: 15px;
			font-weight: 300;
			&:before {
				content: "•";
				font-size: 9px;
				font-weight: 300;
				color: $main;

				position: absolute;
				top: 3px;
				left: 8px;
			}
		}
	}
	ol {
		padding-bottom: 21px;
		counter-reset: section;
		list-style-type: none;
		li {
			padding-bottom: 17px;
			padding-left: 28px;
			position: relative;
			font-size: 15px;
			font-weight: 300;
			&:before {
				content: counters(section, ".") "."; 
				counter-increment: section;
				// font-size: 9px;
				// font-weight: 300;
				color: $main;

				position: absolute;
				top: 0;
				left: 8px;
			}
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		margin-bottom: 43px;
	}
	thead tr{
		background: gray;
	}
	th {
		text-align: left;
		color: $white;
		font-size: 15px;
		font-weight: 500;
		padding: 15px 16px;
		border: 2px solid $white;
		@include b(mobile) {
		  font-size: 13px;
			padding: 10px;
		}
	}
	td {
		font-size: 15px;
		font-weight: 300;
		color: $main;
		padding: 17px 16px 15px;
		border: 2px solid $white;
		@include b(mobile) {
		  font-size: 13px;
			padding: 10px;
		}
	}
}

.default-list {
	@extend %ul;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	counter-reset: item;
	li {
		display: block;
		position: relative;
		&:before { 
			content: counters(item, ".") ". ";
			counter-increment: item;
			display: inline;
			vertical-align: top;
			font-weight: 700;
		}
	}
}

.upper {
	text-transform: uppercase;
}

