//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont:				'Montserrat'; 
$mainFontSize:		16px;
$mainFontHeight:	1.2;
$mainFontWeight:	400;
$mainFontColor:		#2f2f2f;

$secondFont:				'Verdana'; 
$secondFontSize:		14px;
$secondFontHeight:	1.2;
$secondFontWeign:		400;
$secondFontColor:		#525252;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Arial';

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;

$main: #2f2f2f;

$black: #000;
$black2: #171614;

$white: #fff;

$blue: #232b3c;
$blue2: #015cb9;
$blue3: #1c2230;
$blue4: #343f54;

$gray: #8d8e8e;
$gray2: #f8f8f8;
$gray3: #e8e8e8;
$gray4: #e0e0e0;

$disabled: #e2ddd4;

$yellow: #b98e26;

