.slider {
	&__item {
		height: 453px;
		background-size: cover;
		background-position: center center;
		@include b(mobile) {
		  height: 250px;
		}
	}
	&.is-loading {
		opacity: 0;
		height: 0;
	}
	&__image {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}