.nav {
	@extend %rlist;
	margin: 0 -17px;
	@include b(tablet) {
	  margin: 0 -15px;
	}
	@include b(mobile) {
	  text-align: right;
	}
	&--mod {
		margin: 0;
		.nav__item {
			padding: 0;
			@include b(mobile) {
			  padding: 0 0 10px;
			}
			&:after {
				content: "|";
				display: inline-block;
				vertical-align: middle;	
				color: $white;
				padding: 0 18px;
				font-size: 13px;
				line-height: 	1;
				letter-spacing: normal;
				@include b(tablet) {
				  padding: 0 10px;
				}
				@include b(mobile) {
				  display: none;
				}
			}
			&:last-child {
				&:after {
					display: none;	
				}
			}
			.nav__link {
				letter-spacing: -.5px;
			}
		}
		.nav__link {
			font-size: 13px;
			text-transform: uppercase;
			@include b(mobile) {
			  font-size: 18px;
			}
		}
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		padding: 0 17px;
		@include b(tablet) {
		  padding: 0 15px;
		}
		@include b(mobile) {
		  display: block;
		  padding-bottom: 15px;
		}
	}
	&__link {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		color: $white;
		font-size: 22px;
		letter-spacing: -1px;
		@include b(tablet) {
		  font-size: 16px;
		}
		@include b(mobile) {
		  font-size: 20px;
		}
		&:hover {
			color: $blue;
		}
	}
}




.nav-trigger {
	@extend %centering;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	letter-spacing: -5px;
	line-height: 0;
	height: 40px;
	width: 40px;
	cursor: pointer;
	position: relative;
	z-index: 999;
	display: none;
	padding: 5px;
	background-color: #b98e26;
	text-align: center;
	z-index: 999999;
	position: relative;
	@include b(mobile) {
	  display: inline-block;
	}
	&.is-active {
		.nav-trigger__inner {
			background-color: transparent;
			&:before {
				transform: rotate(45deg);
				top: 19px;
			}
			&:after {
				transform: rotate(-45deg);
				bottom: 19px;
			}
		}
	}
	&__inner {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 2px;
		background: $white;
		&:before,
		&:after {
			content: "";
			height: 2px;
			width: 20px;
			background: $white;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		&:before {
			top: 12px;
		}
		&:after {
			bottom: 12px;
		}
	}
}


.nav-hold {
	@include b(mobile) {
		height: 100%;
		width: 100%;
		background: rgba($main, .8);
		padding: 100px 10px 20px;

		position: fixed;
		top: 0;
		right: -100%;
		z-index: 99;
		overflow: hidden;
		z-index: 99999;
	  &.is-visible {
	  	right: 0;
	  	transition: right .3s ease-in-out;
	  }
	}

}

.nav-inner {
	@include b(mobile) {
	  height: 100%;
		width: 100%;
		overflow-y: auto;
	}
	
}