<div class="sidebar">
	<div class="sidebar__card">
		@@include('src/modules/card/card.html', {
			"arr": [
				{
					"image": "image",
					"name": "Gus Garcia",
					"info": "Sales Counselor",
					"tel1": "(281) 645-0225 ext 709",
					"tel2": "(281) 723-7840 ",
					"email": "Email Gus Garcia"
				},
				{
					"image": "image",
					"name": "Gus Garcia",
					"info": "Sales Counselor",
					"tel1": "(281) 645-0225 ext 709",
					"tel2": "(281) 723-7840 ",
					"email": "Email Gus Garcia"
				}
			]
		})
	</div>
	<div class="sidebar__banner">
		@@include('src/modules/banner/banner.html', {
			"image": "img/banner.png",
			 "title": "Pre-Qualify for a Home Loan Today!",
			 "button": "VIEW PREFERRED LENDERS"
		})
	</div>
</div>