button,
.btn {
	text-align: center;
	vertical-align: top;
	font-weight: $mainFontWeight;
	font-size: 16px;
	line-height: $mainFontHeight;
	padding: 18px 20px;
	background: $blue;
	color: #fff;
	border: 0;
	border-radius: 0; 
	position: relative;
	transition: all .3s ease-in-out;
	display: inline-block;
	border: 2px solid $blue;
	text-transform: uppercase;
	&:hover,
	&:focus,
	&.active {
		color: $blue;
		background: $white;
	}
	&.disabled,
	&[disabled="disabled"], 
	&[disabled] {
		background: #ccc;
		color: #aaa;
		cursor: not-allowed;
	}
	&--border {
		border: 2px solid $white;
		padding: 4px 10px;
		font-size: 12px;
		font-weight: 700;
	}
	&--yellow {
		padding: 5px 10px;
		background-color: $yellow;
		border-color: $yellow;
		&:hover {
			color: $yellow;
		}
	}
}