// Checkbox
	//----------------------------------------------------//
	.checkbox {
		position:relative;
		display:inline-block;
		vertical-align:middle;
		min-width:21px;
		min-height:21px;
		text-align:left;
		cursor: pointer;

		&:hover{

			.checkbox__icon{
				border-color: $black;
			}
		}
		
		&__icon {
			position:absolute;
			left:0;
			top:0;
			width:21px;
			height:21px;	
			background-color: $white;	
			border: 1px solid gray;
			transition: all .2s ease-in-out;		

			&:before {
				content: '';
				width: 9px;
				height: 7px;
				border-left: 2px solid $white;
				border-bottom: 2px solid $white;
				position: absolute;
				transform: rotate(-45deg);
				left: 5px;
    			top: 4px;
			}
		}
		
		&__inner {
			padding: 4px 0 0 30px;
			display:block;
		}
		&__text {
			display: inline-block;
			vertical-align: top;	
			font-size: 14px;		
			font-weight: 300;

			& + .checkbox__text {
				margin-left: 3px;
			}
		}

		&__check {
			display: none;
			&:checked {
				&~.checkbox__icon {	
					background-color: grey;				
					.checkbox__icon-image {
						opacity: 1;
					}					
				}
				&~.checkbox__inner {
					.checkbox__text {
						
					}
				}	
				&:hover{
					&~.checkbox__icon {	
						border-color: grey;					
					}
				}			
			}
			
			&:disabled {
				&~.checkbox__icon {
					border-color: $disabled;					
				}
			}
		}		
	}

	.checkboxes-list {
		@extend %rlist;

		&__item {
			@extend %ulist;

			& + .checkboxes-list__item {
				margin-top: 11px;
			}
		}
	}

	.checkboxes-inline-list {
		@extend %rlist;

		margin: -18px 0 0 -28px;

		&__item {
			@extend %ulist;

			display: inline-block;
			vertical-align: top;
			margin: 18px 0 0 28px;
		}		
	}