.icon-fb {
	width: 27px;
	height: 27px;
	fill: $white;
}
.icon-insta {
	width: 27px;
	height: 27px;
	fill: $white;
}
.icon-twitter {
	width: 27px;
	height: 27px;
	fill: $white;
}
.icon-google {
	width: 27px;
	height: 27px;
	fill: $white;
}
.icon-logo {
	width: 222px;
	height: 90px;
}
.icon-logo-mod {
	width: 222px;
	height: 90px;
	fill: $white;
}
.icon-pinterest {
	width: 27px;
	height: 27px;
}
.icon-email {
	width: 32px;
	height: 16px;
	fill: #232b3c;
}
.icon-ghba {
	width: 95px;
	height: 46px;
	fill: $white;
}
.icon-nahb {
	width: 93px;
	height: 45px;
	fill: $white;
}
.icon-strucsure {
	width: 100px;
	height: 61px;
	fill: $white;
}
.icon-realtor {
	width: 53px;
	height: 63px;
	fill: $white;
}
.icon-bbb {
	width: 114px;
	height: 40px;
	fill: $white;
}
.icon-eoh {
	width: 60px;
	height: 57px;
	fill: $white;
}