	
textarea,
select,
input,
.input {
	background-color: #fff;
	border: 1px solid $gray2;
	color: $main;
	font-size: 16px;
	line-height: $mainFontHeight;
	padding: 10px 10px;
	width: 100%; 
	display: block;
	transition: all .3s ease-in-out;
	-webkit-appearance: none;
	border-radius: 25px;
	@include placeholderColor($gray);
	&:focus {
		border-color: #696969;
		background-color: #fff;
	}
	&.error {
	}
	&.disabled,
	&[disabled="disabled"],
	&[disabled] {
		background-color: #f3f3f3;
	}
}

textarea {
	height: 150px;
}

input[type="file"] {
	display: none;
	& + label {
		display: block;
		background: #fff;
		font-size: 14px;
		line-height: 24px;
		padding: 25px 15px;
		color: #969696;
		text-align: center;
		border: 1px dashed #c4c4c4;
		transition: .2s ease-in-out;
		&:hover {
			border-color: #696969;
			background: #e9e9e9;
		}
	}
}