// Radio
	//----------------------------------------------------//
	.radiobox {
		position:relative;
		display:inline-block;
		vertical-align:middle;
		min-width:21px;
		min-height:21px;
		text-align:left;
		cursor: pointer;

		&:hover{

			.radiobox__icon{
				border-color: $black;				
			}

			.radiobox__icon-image{
				background-color: gray;
			}
		}
		
		&__icon {
			position:absolute;
			left:0;
			top:0;
			width:21px;
			height:21px;
			border-radius: 50%;
			border: 1px solid gray;
			padding: 3px;
			transition: all .2s ease-in-out;
			background-color: $white;

			&-image {
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: gray;
				transition: all .2s ease-in-out;
				opacity: 0;
			}
		}
		
		&__inner {
			padding:4px 0 0 30px;
			display:block;
		}
		&__text {			
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			font-weight: 300;
		}
		
		&__check {
			display: none;
			&:checked {
				&~.radiobox__icon {			
					box-shadow: inset 0 0 0 1px gray;		
					.radiobox__icon-image {
						opacity: 1;
					}
				}
			}
			
			&:disabled {
				&~.radiobox__icon {
					border-color: $disabled;
				}
			}
		}
	}

	.radioboxes-list {
		@extend %rlist;

		&__item {
			@extend %ulist;

			&+.radioboxes-list__item {
				margin-top: 15px;
			}
		}
	}

	.radioboxes-inline-list {
		@extend %rlist;
		margin: -18px 0 0 -28px;
		
		&__item {
			@extend %ulist;
			display: inline-block;
			vertical-align: top;
			margin: 18px 0 0 28px;
		}
	}