select {
	@include clearSelect;
	background-color: #fff;
	border: 1px solid $gray2;
	color: $gray;
	font-size: 16px;
	line-height: $mainFontHeight;
	padding: 10px 10px;
	width: 100%; 
	display: block;
	transition: all .3s ease-in-out;
	-webkit-appearance: none;
	border-radius: 25px;
}