@@include('src/modules/head/head.html', {"title": "index"}) 
		<div class="wrapper">
			@@include('src/modules/header/header.html') 
			<main>
				@@include('src/modules/slider/slider.html', {
					"arr": [
						{
							"image": "pic/slider/photo-01.jpg"
						},
						{
							"image": "pic/slider/photo-01.jpg"
						},
						{
							"image": "pic/slider/photo-01.jpg"
						}
					]
				})
				<div class="extra">
					<div class="container">
						<div class="container__main">
							<div class="extra__title">1234 Very Long Street Name Drive, Houston, TX 77382</div>
							<ul class="simple-list simple-list--mod">
								<li class="simple-list__item">
									<span class="simple-list__left">COMMUNITY: </span>
									<strong class="simple-list__right">Hidden Meadow</strong>
								</li>
								<li class="simple-list__item">
									<span class="simple-list__left">PLAN:</span>
									<strong class="simple-list__right">Lexington</strong>
								</li>
								<li class="simple-list__item">
									<span class="simple-list__left">SERIES:</span>
									<strong class="simple-list__right">Jefferson</strong>
								</li>
							</ul>
						</div>
						<div class="container__sidebar">
							<a href="#" class="btn">COMMUNITY INFORMATION</a>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="container">
						<div class="container__main">
							@@include('src/modules/intro/intro.html')
							<div class="container__block">
								<h2 class="container__title">HOME FEATURES</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut felis mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tellus elit, euismod non risus quis, consectetur convallis ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in porttitor tellus. Suspendisse elit metus, dignissim non varius eget, sollicitudin tincidunt urna. </p>
							</div>
							<div class="container__block">
								<h2 class="container__title">MODEL HOME LOCATION</h2>
								<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.3144112052046!2d-95.4610683843763!3d29.76854888198365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c14ad05ea9d1%3A0xd1be93266b19b7e1!2zSG91c3RvbmlhbiwgSG91c3RvbiwgVFggNzcwMjQsINCh0KjQkA!5e0!3m2!1sru!2sru!4v1504862628355" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
						<div class="container__sidebar">
							@@include('src/modules/sidebar/sidebar.html')
						</div>
					</div>
				</div>
			</main>
		</div>
	@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')

