<div class="card">
	@@for(var i = 0; i < arr.length; i++) { 
		<div class="card__item">
			<div class="card__image">
				<a href="#" class="card__image-link">
					<!-- <img src="@@image" alt="Picture" class="card__image-pic"> -->
				</a>
			</div>
			<div class="card__content">
				<div class="card__name">`+arr[i].name+`</div>
				<div class="card__info">`+arr[i].info+`</div>
				<div class="card__list">
					<ul class="simple-list">
						<li class="simple-list__item">
							<span class="simple-list__left">OFFICE:</span>
							<a href="tel:80000000000" class="simple-list__right simple-list__right--link">`+arr[i].tel1+`</a>
						</li>
						<li class="simple-list__item">
							<span class="simple-list__left">MOBILE:</span>
							<a href="tel:80000000000" class="simple-list__right simple-list__right--link">`+arr[i].tel2+`</a>
						</li>
						<li class="simple-list__item">
							<a href="mailto:mailto" class="simple-list__right simple-list__right--link">`+arr[i].email+`</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	}
</div>