<li class="social__item">
	<a href="#" class="social__link">
		<svg class="icon-@@image social__icon @@if(context.colorMod){@@colorMod}">
			<use xlink:href="#@@image"></use>
		</svg>
	</a>
</li>
