.card {
	margin-bottom: -20px;
	&__item {
		padding-bottom: 42px;
	}
	&__image {
		padding-bottom: 20px;
		&-link {
			@extend %centering;
			font-size: 0;
			line-height: 0;
			letter-spacing: -5px;
			text-align: center;
			height: 167px;
			display: block;
			background-color: $gray4;
			&:hover {
				opacity: .7;
			}
		}
		&-pic {
			max-width: 100%;
			max-height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__name {
		font-size: 20px;
		font-weight: 700;
		padding-bottom: 7px;
	}
	&__info {
		font-size: 18px;
		padding-bottom: 8px;
	}
}