.extra {
	@include b(tablet) {
	  padding-bottom: 30px;
	}
	.container {
		@include b(tablet) {
		  margin: 0 -10px;
		  width: auto;
		  max-width: none;
		}
	}
	.container__main {
		height: 122px;
		padding-top: 36px;
		@include b(tablet) {
		  padding: 20px;
		  height: auto;
		}
		&:after {
			background-color: $gray2;
		}
	}
	.container__sidebar {
		height: 122px;
		padding-top: 30px;
		@include b(tablet) {
		  text-align: center;
		  padding: 20px;
		  height: auto;
		}
		&:after {
			background-color: $gray3;
		}
		.btn {
			@include b(tablet) {
			  vertical-align: top;
			}
		}
	}
	&__title {
		padding-bottom: 9px;
		font-size: 20px;
	}
}


.simple-list {
	@extend %rlist;
	margin: 0 -8px -11px;
	&--mod {
		.simple-list__item {
			display: inline-block;
			vertical-align: top;
		}
	}
	&__item {
		display: block;
		vertical-align: top;
		padding: 0 8px 11px;
	}
	&__left {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		text-transform: uppercase;
		padding-right: 4px;
	}
	&__right {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 700;
		&--link {
			&:hover {
				opacity: .7;
			}
		}
	}
}

.map {
	width: 100%;
	height: 438px;
	@include b(tablet) {
	  height: 300px;
	}
	@include b(mobile) {
	  height: 200px;
	}
}