.banner {
	display: block;
	&:hover {
		opacity: .7;
	}
	&__image {
		height: 197px;
		background-size: cover;
		background-position: center center;
	}
	&__title {
		font-size: 26px;
		font-family: 'Georgia';
		padding: 14px 19px 16px;
		background-color: $blue;
		color: $white;
	}
	&__button {
		padding: 7px 10px;
		width: 100%;
	}
}