<a href="#" class="banner">
	<div class="banner__image" style="background-image: url('@@image');"></div>
	<div class="banner__title">@@title</div>
	<div class="banner__button btn btn--yellow">@@button</div>
</a>