.intro {
	@include clearfix;
	padding-bottom: 45px;
	&__image {
		float: left;
		width: calc(100% - 320px);
		padding-right: 20px;
		@include b(mobile) {
		  width: 100%;
		  padding: 0 0 20px;
		}
	}
	&__picture {
		max-width: 100%;
		display: block;
	}
	&__content {
		float: left;
		width: 320px;
		padding: 24px 24px 0;
		border: 1px solid #e0e0e0;
		@include b(mobile) {
		  width: 100%;
		}
	}
	&__list {
		padding-bottom: 20px;
	}
	&__lightbox {
		padding-bottom: 23px;
		.btn {
			width: auto;
		}
	}
	&__social {
		@extend %rlist;
		background-color: $gray2;
		border-top: 1px solid #e0e0e0;
		margin: 0 -24px;
		padding: 11px 25px;
		&-text {
			@extend %ulist;
			display: inline-block;
			vertical-align: middle;
			padding: 5px 27px 5px 0;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
		}
		&-list {
			@extend %ulist;
			display: inline-block;
			vertical-align: middle;
		}
	}
}