<div class="intro">
	<div class="intro__image">
		<img src="pic/intro/photo-01.png" alt="Picture" class="intro__picture">
	</div>
	<div class="intro__content">
		<div class="intro__list">
			<ul class="simple-list">
				<li class="simple-list__item">
					<span class="simple-list__left">PRICE:</span>
					<strong class="simple-list__right">$235,000</strong>
				</li>
				<li class="simple-list__item">
					<strong class="simple-list__right">Available/Under Construction</strong>
				</li>
				<li class="simple-list__item">
					<span class="simple-list__left">SQUARE FEET:</span>
					<strong class="simple-list__right">2,750</strong>
				</li>
				<li class="simple-list__item">
					<span class="simple-list__left">BEDS:</span>
					<strong class="simple-list__right">3</strong>
				</li>
				<li class="simple-list__item">
					<span class="simple-list__left">BATHS:</span>
					<strong class="simple-list__right">2.5</strong>
				</li>
				<li class="simple-list__item">
					<span class="simple-list__left">STORIES:</span>
					<strong class="simple-list__right">2</strong>
				</li>
				<li class="simple-list__item">
					<span class="simple-list__left">PLAN:</span>
					<strong class="simple-list__right">Lexington </strong>
				</li>   
			</ul>
		</div>
		<div class="intro__lightbox">
			<a href="pic/intro/photo-01.png" data-lightbox="image-1" data-title="Caption" class="js-lightbox btn btn--yellow">VIEW FLOOR PLAN</a>
		</div>
		<div class="intro__social">
			<span class="intro__social-text">SHARE:</span>
				<div class="intro__social-list">
					<ul class="social">
						@@include('src/modules/social/social__item.html', {
							"image": "fb",
							"colorMod": "social__icon--blue"
						})
						@@include('src/modules/social/social__item.html', {
							"image": "twitter",
							"colorMod": "social__icon--lightblue"
						})
						@@include('src/modules/social/social__item.html', {
							"image": "google",
							"colorMod": "social__icon--red"
						})
						@@include('src/modules/social/social__item.html', {
							"image": "pinterest",
							"colorMod": "social__icon--red"
						})
						@@include('src/modules/social/social__item.html', {
							"image": "email",
							"colorMod": ""
						})
					</ul>
			</div>
		</div>
	</div>
</div>