.header {
	position: relative;
	.container {
		@extend %rlist;
	}
	&__cell {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		&--left {
			@extend %rlist;
			width: 230px;
			padding-right: 20px;
			@include b(tablet) {
				width: 150px;
			}
		}
		&--right {
			width: calc(100% - 230px);
			text-align: right;
			float: right;
			@include b(tablet) {
				width: calc(100% - 150px);
			}
			@include b(mobile) {
				text-align: center;
				float: none;
				text-align: right;
			}
		}
	}
	&__top {
		background-color: $blue;
		padding: 12px 0 11px;
		@include b(mobile) {
			text-align: center;
			display: none;
		}
		.header__cell {
			width: 100%;
		}
	}
	&__telephone {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		@include b(mobile) {
			display: block;
			padding-bottom: 5px;
		}
		&-link {
			color: $white;
		}
	}
	&__lang {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		padding: 0 14px;
		@include b(mobile) {
			padding-left: 0;
		}
	}
	&__social {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
	}
	&__bottom {
		width: 100%;
		padding: 29px 0;
		background-color: rgba($black2, .6);
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9;
		@include b(tablet) {
			padding: 10px 0;
		}
		@include b(mobile) {
			position: relative;
			background-color: $blue;
		}
	}
	&__nav {
		&--lg {
			padding-top: 16px;
			padding-bottom: 15px;
			@include b(mobile) {
				padding: 0;
			}
		}
	}
}

.logo {
	display: inline-block;
	vertical-align: middle;
	&:hover {
		opacity: .7;
	}
	&__icon {
		max-width: 100%;
	}
}