<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__cell header__cell--right">
				<div class="header__telephone">
					<a href="tel:2816450225" class="header__telephone-link">(281) 645-0225</a>
				</div>
				<div class="header__lang">
					<a href="#" class="btn btn--border">ESPAÑOL</a>
				</div>
				<div class="header__social">
					@@include('src/modules/social/social.html')
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="header__cell header__cell--left">
				<a href="#" class="logo">
					<svg class="icon-logo logo__icon">
						<use xlink:href="#logo"></use>
					</svg>
				</a>
			</div>
			<div class="header__cell header__cell--right">
				<div class="nav-wrapper js-nav">
					<div class="nav-trigger js-nav-trigger">
						<span class="nav-trigger__inner"></span>
					</div>
					<div class="nav-hold js-nav-content">
						<div class="nav-inner">
							<div class="header__nav header__nav--lg">
								@@include('src/modules/nav/nav.html', {
									"mod": " ",
									"arr": [
										{
											"link": "Floor Plans"
										},
										{
											"link": "Available Homes"
										},
										{
											"link": "Communities"
										},
										{
											"link": "Home Features"
										},
										{
											"link": "Contact"
										}
									]
								})
							</div>
							<div class="header__nav">
								@@include('src/modules/nav/nav.html', {
									"mod": "nav--mod",
									"arr": [
										{
											"link": "ABOUT"
										},
										{
											"link": "SPECIALS"
										},
										{
											"link": "PREFERRED LENDER"
										},
										{
											"link": "CUSTOMER CARE"
										},
										{
											"link": "CAREERS"
										}
									]
								})
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</header>
