.footer {
	.container {
		@extend %rlist;
	}
	&__top {
		background-color: $blue;
		padding: 43px 0 56px;
		@include b(mobile) {
		  padding: 10px 0;
		}
	}
	&__logo {
		@extend %ulist;
		display: inline-block;
		vertical-align: top;
		width: 309px;
		padding-right: 20px;
		@include b(desktop) {
		  width: 200px;
		}
		@include b(tablet) {
		  width: 100%;
		  padding-bottom: 10px;
		  text-align: center;
		}
		@include b(mobile) {
		  padding: 0;
		}
	}
	&__list {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 309px);
		padding-top: 9px;
		margin-bottom: -20px;
		@include b(desktop) {
		  width: calc(100% - 200px);
		}
		@include b(tablet) {
		  width: 100%;
		}
		@include b(mobile) {
		  display: none;
		}
	}
	&__box {
		@extend %ulist;
		display: inline-block;
		vertical-align: top;
		padding-right: 84px;
		padding-bottom: 20px;
		@include b(desktop) {
		  padding-right: 20px;
		}
		@include b(tablet) {
		  width: 50%;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	&__center {
		background-color: $blue3;
		padding: 32px 0;
		@include b(mobile) {
		  display: none;
		}
	}
	&__bottom {
		padding: 17px 0;
		background-color: $blue;
		color: $white;
		@include b(mobile) {
		  text-align: center;
		}
	}
	&__copy {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		width: 50%;
		padding-right: 20px;
		@include b(mobile) {
		  width: 100%;
		  padding-bottom: 10px;
		  padding-right: 0;
		}
	}
	&__design {
		@extend %ulist;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		width: 50%;
		text-align: right;
		@include b(mobile) {
		  width: 100%;
		  text-align: center;
		}
		&-link {
			display: inline-block;
			vertical-align: middle;
			color: $white;
			&:hover {
				opacity: .7;
			}
		}
	}
}


.footer-block {
	&__title {
		color: $yellow;
		font-size: 20px;
		padding-bottom: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}
}

.footer-list {
	margin-bottom: -5px;
	&__item {
		padding-bottom: 5px;
	}
	&__inner {
		color: $white;
		font-size: 15px;
		display: inline-block;
		vertical-align: top;
		letter-spacing: -1px;
		&:hover {
			color: $yellow;
		}
		&--descr {
			&:hover {
				color: $white;
			}
		}
	}
}














