<div class="footer-block">
	<h3 class="footer-block__title">@@title</h3>
	<ul class="footer-list">
		@@for(var i = 0; i < arr.length; i++) { 
		<li class="footer-list__item">
			<a href="#" class="footer-list__inner">`+arr[i].link+`</a>
		</li>
		}
	</ul>
</div>