<footer class="footer js-footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__logo">
				<a href="#" class="logo">
					<svg class="icon-logo-mod logo__icon">
						<use xlink:href="#logo-mod"></use>
					</svg>
				</a>
			</div>
			<div class="footer__list">
				<div class="footer__box">
					<div class="footer-block">
						<h3 class="footer-block__title">CONTACT LIBERTY</h3>
						<ul class="footer-list">
							<li class="footer-list__item">
								<span class="footer-list__inner footer-list__inner--descr">2821 Jordens Road, Suite 500</span>
							</li>
							<li class="footer-list__item">
								<span class="footer-list__inner footer-list__inner--descr">Houston, Texas 77084</span>
							</li>
							<li class="footer-list__item">
								<a href="tel:80000000000" class="footer-list__inner">phone: (281) 645-0225</a>
							</li>
							<li class="footer-list__item">
								<a href="mailto:mailto" class="footer-list__inner">info@libertyhomebuilders.com</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer__box">
					@@include('src/modules/footer/footer-block.html', {
						"title": "FIND A HOME",
						"arr": [
							{
								"link": "Floor Plans"
							},
							{
								"link": "Available Homes"
							},
							{
								"link": "Communities"
							},
							{
								"link": "Home Features"
							}
						]
					})
				</div>
				<div class="footer__box">
					@@include('src/modules/footer/footer-block.html', {
						"title": "SITE LINKS",
						"arr": [
							{
								"link": "About"
							},
							{
								"link": "Specials"
							},
							{
								"link": "Preferred Lenders"
							},
							{
								"link": "Customer Care"
							},
							{
								"link": "Contact"
							}
						]
					})
				</div>
				<div class="footer__box">
					<div class="footer-block">
						<h3 class="footer-block__title">FOLLOW LIBERTY</h3>
						@@include('src/modules/social/social.html')
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__center">
		<div class="container">
			@@include('src/modules/brand/brand.html', {
				"arr": [
					{
						"icon": "ghba"
					},
					{
						"icon": "nahb"
					},
					{
						"icon": "strucsure"
					},
					{
						"icon": "realtor"
					},
					{
						"icon": "bbb"
					},
					{
						"icon": "eoh"
					}
				]
			})
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__copy">©2015, Liberty Home Builders. All Rights Reserved.</div>
			<div class="footer__design">
			Website designed by 
				<a href="#" class="footer__design-link">Bryan Creative Group</a>
			</div>
		</div>
	</div>
</footer>