.brand {
	@extend %rlist;
	text-align: center;
	margin: 0 -17px;
	@include b(tablet) {
	  margin: 0 -5px;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 16.6%;
		padding: 0 17px;
		@include b(tablet) {
		  padding: 0 5px;
		}
	}
	&__link {
		@extend %centering;
		font-size: 0;
		line-height: 0;
		letter-spacing: -5px;
		height: 132px;
		display: block;
		text-align: center;
		background-color: $blue;
		padding: 10px;
		border: 1px solid $blue4;
		&:hover {
			opacity: .7;
		}
	}
	&__icon {
		vertical-align: middle;
		max-width: 100%;
	}
}