<div class="brand">
	@@for(var i = 0; i < arr.length; i++) {
		<div class="brand__item">
			<a href="#" class="brand__link">
				<svg class="icon-`+arr[i].icon+` brand__icon">
					<use xlink:href="#`+arr[i].icon+`"></use>
				</svg>
			</a>
		</div>
	}
</div>